html {
  background-image: url('https://2.bp.blogspot.com/-8Kfnv3xPyow/V6C_gyRhotI/AAAAAAAAIkc/RINiXl73VIkFyCi4z5L-UyZdEPSQYIfTgCLcB/s1600/gifImage.gif');
  background-size: cover;
}
button {
  background-color: #45BCB3; /* Green */
  border-radius: 30px;
  /* border: none; */
  color: bla;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

hr { 
filter: blur(1px);
display: block;overflow: hidden; border-style: inset; border-width: 2px;}

body {
  text-align: center;
  color: blue;
  font-family: "Verdana", Sans-serif;
  font-size: 20px;
}
